.loginWelcomeContainer {
    height: fit-content;
    width: 80%;
    /* margin-top: 40px; */
    /* background-color: antiquewhite; */
    text-align: start;
}

#introSection {

}

#welcomeHeader {
    font-size: 16px;
    font-weight: 200;
    font-family: 'Abel', sans-serif;
    margin: 0px;
    line-height: 14px;
}

#welcomeMessage {
    font-size: 22px;
    margin-top: 0px;
    margin-bottom: 10px;
    
}

#welcomeHeader > em {
    font-size: 16px;
}

#tier {
    font-size: 9px;
    margin: 0px;
    margin-bottom: 12px;
    color: rgb(237, 208, 173);
}