/* Web2UserCreate.css */

.user-create-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100vh;
    background-color: #141414;
}

#back-link {
    position: absolute;
    top: 30px;
    left: 30px;
    color: white;
    text-decoration: none;
}

#user-create-title {
    font-size: 2em;
    margin-bottom: 20px;
    color: #fff;
    text-align: start;
    width: 86vw;
    margin-top: 8vh;
}

#logo-image {
    height: 200px;
    width: 200px;
    position: absolute;
    top: 30%;
    opacity: .5;
}

.bottom-form-section {
    max-width: 500px;
    width: 95%;
    margin-bottom: 1vh;
    background-color: white;
    opacity: .9;
    padding: 10px;
    padding-block: 40px;
    border-radius: 20px;
    z-index: 20;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-create-form-container {
    max-width: 450px;
    width: 95%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); */
}

.input-group {
    margin-bottom: 20px;
}

.input-group>input:focus,
.input-group>.input-with-icon>input:focus {
    border-color: black;
    outline: none;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: start;
    color: black;
}

.input-group input {
    width: 100%;
    padding: 8px;
    border: none;
    border-bottom: 1px solid rgb(156, 156, 156);
    background-color: #ffffff;
    color: #000000;
    transition: background-color 0.3s, border 0.3s;
}

.user-create-form-container button {
    display: block;
    width: 80%;
    padding: 12px;
    margin-inline: auto;
    background-color: #424141;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.user-create-form-container button:hover {
    background-color: #000000;
}

.error {
    color: #E50914;
    font-size: 14px;
    margin-top: 5px;
}

.success-message {
    color: #4CAF50;
    text-align: center;
    padding: 20px 0;
}

#redirect-to-sign-in {
    margin-top: 15px;
}

#redirect-to-sign-in em {
    margin-right: 5px;
    color: gray;
}

#redirect-to-sign-in a {
    color: #000000;
    text-decoration: none;
}

#redirect-to-sign-in a:hover {
    text-decoration: underline;
}

.input-with-icon {
    position: relative;
    width: 100%;
}

.valid-icon,
.toggle-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.valid-icon {
    color: green;
    right: 30px;
}

.toggle-icon {
    color: #aaa;
}

/* LOADER */
.authVerificationLoader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 768px) {
    .user-create-page {
        /* padding: 0 20px; */
    }
}