@import url('https://fonts.googleapis.com/css2?family=Abel&family=Exo:wght@700&family=Kdam+Thmor+Pro&family=Roboto+Condensed:wght@300&family=Sulphur+Point:wght@700&display=swap');
/* 0 */
@import url('https://fonts.googleapis.com/css2?family=Exo&family=Teko:wght@300..700&display=swap');
/* font-family: 'Teko', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Saira",sans-serif; */
.w-6 {
  width: 22px;
}

.h-6 {
  height: 22px;
}

svg {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* :root {
  width: 100vw;
  margin: 0;
  text-align: center;
} */

.buttonPop {
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
}

.buttonPop:hover {
  box-shadow: inset 2px 2px 2px 1px rgba(59, 59, 59, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    0px 0px 0px 0px rgba(0, 0, 0, .1);
}

/* .backgroundLogoContainer {
  width: 100%;
  position: absolute;
  left: 0px;
  top: 25%;
  display: flex;
  justify-content: center;
} */

.backgroundLogo {
  width: 90vw;
  max-width: 460px;
  opacity: .045;
  margin-inline: auto;
  position: absolute;
  transform: translateY(50%);
  transform: translateX(-50%);
}

#header-bar {
  font-size: 12px;
  min-height: 30px;
  box-shadow: inset .5px .5px 2px .5px rgba(59, 59, 59, 0.5);
}

#pdf-controls {
  padding-top: 6.5px;
}

button.loading
{
  cursor: not-allowed;
  background-color: #333;
}