@import url('https://fonts.googleapis.com/css2?family=Abel&family=Exo:wght@700&family=Roboto+Condensed:wght@300&display=swap');
.w-6 {
  width: 26px;
}

.h-6 {
  height: 26px;
}

svg {
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  width: 100vw;
  margin: 0;
  text-align: center;
}

#appContainer {
  width: 100vw;
  min-height: 100vh;
  max-height: fit-content;
  background-color: rgb(236, 235, 235);
}

.buttonPop {
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
}

.buttonPop:hover {
  box-shadow: inset 2px 2px 2px 1px rgba(59, 59, 59, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    0px 0px 0px 0px rgba(0, 0, 0, .1);
}

.pageContainer {
  padding: 80px 0px;
  background-color: rgb(236, 235, 235);
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: start;
  align-items: center;
}

.cardContainer {
  color: white;
  padding: 40px;
  padding-left: 60px;
  width: 95%;
  max-width: 360px;
  background-color: rgb(55, 54, 54);
  display: flex;
  flex-flow: column;
  justify-content: start;
  border-radius: 15px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 5px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
}

button.loading 
{
  cursor: not-allowed;
  background-color: #333;
}