@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600;700&family=Varela+Round&display=swap');
:root {
  font-family: 'Varela Round', sans-serif;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: rgb(236, 235, 235);
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}
