#verify-sig-container {
    min-height: 400px;
    background-color: rgba(255, 255, 255, 0.877);
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#verify-sig-container > div {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding:10px 30px;
}

