.w-6 {
    width: 32px;
}

.h-6 {
    height: 32px
}

#nav-container {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.885);
    display: flex;
    gap: 20px;
    padding: 15px 20px;
    font-size: .7em;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 10;
}

#left-side-nav {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: .8em;
    width: 100%;
}

#right-side-nav {
    position: fixed;
    top: 20px;
    right: 20px;
}

#nav-logo > img {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    object-fit: contain;
    position: fixed;
    top: 20px;
    left: 20px;
}

#nav-links {
   
}

.linksBox {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 8px;
}

.linksBox > a {
    text-decoration: none;
    color: black;
    background-color: white;
    font-size: 1.4em;
    padding: 7px 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    flex-grow: 1; 
}

#loginLink {
    justify-self: flex-end;
}

/* @media screen and (min-width: 600px) {

}

@media screen and (min-width: 700px) {
 
} */