
#navContainer {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.885);
    display: flex;
    gap: 20px;
    padding: 15px 20px;
    font-size: .7em;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 10;
}

#leftSideNav {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: .8em;
    width: 100%;
}

#rightSideNav {
    position: fixed;
    top: 20px;
    right: 20px;
}

#navLogo>img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 3px;
    object-fit: contain;
    position: fixed;
    top: 20px;
    left: 20px;
    transition: all 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 0px 0px 5px rgba(75, 75, 75, 0.6), 0px 0px 5px  rgba(255,255,255, 0.5);}

#navLogo>img:hover {
    box-shadow: inset 2px 2px 2px 1px rgba(59, 59, 59, 0.5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        0px 0px 0px 0px rgba(0, 0, 0, .1);
}

#navLinks {}

.linksBox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.linksBox>a {
    text-decoration: none;
    color: black;
    background-color: white;
    font-size: 1.4em;
    padding: 7px 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

#loginLink {
    justify-self: flex-end;
}

#uploadLink {
    border-radius: 50%;
    height: 70px;
    width: 70px;
    position: absolute;
    z-index: 10;
    bottom: 50px;
    left: 30px;
}

/* @media screen and (min-width: 600px) {

}

@media screen and (min-width: 700px) {
 
} */