#nav-container {
    width: 100%;
    background-color: white;
    display: flex;
    gap: 20px;
    padding: 20px 20px;
    font-size: .7em;
    justify-content: space-between;
    align-items: center;
}

#left-side-nav {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    font-size: .8em;
    width: 100%;
}   

#nav-logo > img {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    object-fit: cover;
}

#nav-links {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-grow: stretch;
}

#nav-links > a {
    text-decoration: none;
    color: rgb(224, 134, 15);
    font-size: 1.2em;
    border: 1px solid rgb(224, 134, 15);
    padding: 7px 16px;
    border-radius: 5px;
}

#loginLink {
    justify-self: flex-end;
}

@media screen and (min-width: 700px) {
    #nav-links > a {
        font-size: 1em;
        padding: 10px 10px;
    }
}