/* General Styles */
.user-info-dropdown {
    position: relative;
    cursor: pointer;
}

/* Profile Logo Styles */
#profile-logo {
    position: absolute;
    top: 0px;
    right: 0px;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width: 50px;
    height: 50px;
    border: 2px solid #000000;
    z-index: 10;
}

#profile-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Dropdown Styles */
.user-info-content {
    text-align: start;
    position: absolute;
    top: -20px;
    right: -17px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    width: 99vw; 
    padding: 15px;
    padding-top: 20vh;
    padding-left: 40px;
    z-index: 5;
}

.user-info-content div {
    margin-bottom: 10px;
}

.user-info-content h6 {
    margin: 0;
    margin-bottom: 5px;
    color: #000000;
    font-weight: bold;
}

.user-info-content p {
    margin: 0;
    color: #7d7d7d;
    word-break: break-all;
    white-space: normal;
    font-size: .9em;
}

.user-info-content button {
    display: block;
    position: absolute;
    top: 80px;
    right: 10px;
    width: 100%;
    max-width: 100px;
    padding: 10px 15px;
    background-color: #e3654c; 
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.user-info-content button:hover {
    background-color: #df3d1c;
}
