#accountSigsPageMainContainer {
    padding-top: 12vh;
    padding-bottom: 10vh;
    max-width: 90vw;
    margin-inline: auto;
}

#accountSigsPageMainContainer > p {
    font-size: 2em;
}

#accountSigsPageContainer {
    display: flex;
    flex-wrap: wrap;
    margin-inline: auto;
    max-width: 900px;
    justify-content: center;
    gap: 6px;
    background-color: white;
    border-radius: 5px;
    padding-block: 5px;
}

#sigs-header {
    text-align: start;
    margin-bottom: 6vh;
}

#sigs-header > h2 {
    font-size: 1em;
    margin-bottom: 4px;    
}

#sigs-header > h2 > em {
    margin-left: 1vw;
    text-transform: initial;
}

#sigs-header > p {
    margin-top: 0px;
    font-size: 1.4em;
}
