.tile {
    height: 80px;
    /* width: 180px; */
    color: rgb(0, 0, 0);
    background-color: rgb(253, 253, 253);
    text-decoration: none;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tile-content {
    /* text-transform: uppercase; */
    /* margin-top: 32px; */
}

.tile-icon {
    display: flex;
    justify-content: center;

}

.tile-title {
    font-size: 12px;
    margin: 0px;
}

.tileFinePrint {
    position: relative;
    font-size: 6px;
    color: rgb(240, 79, 79);
    margin: 0px;
}