.register-email-container {
    padding: 10px;
    width: 95%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 1vh;
    z-index: 10;
    opacity: .9;
}

.register-email-container > h2 {
    margin-top: 5vh;
}

.register-email-container > button {
    display: block;
    width: 80%;
    padding: 12px;
    margin-inline: auto;
    background-color: #424141;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    max-width: 300px;
}

.register-email-container > button:hover {
    background-color: #000000;
}

#register-email-input {
    width: 100%;
    padding: 8px;
    border: none;
    border-bottom: 1px solid rgb(156, 156, 156);
    background-color: #ffffff;
    color: #000000;
    transition: background-color 0.3s, border 0.3s;
    max-width: 300px;
}

#register-email-input:focus {
    border-color: black;
    outline: none;
    border-bottom: 1px solid black;
}

/* FROM */

.user-register-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    width: 100%;

    background-color: #141414;
}

#back-link {
    position: absolute;
    top: 30px;
    left: 30px;
    color: white;
    text-decoration: none;
}

#user-register-title {
    font-size: 2em;
    margin-bottom: 20px;
    color: #fff;
    text-align: start;
    width: 86vw;
    margin-top: 8vh;
}

#logo-image {
    height: 200px;
    width: 200px;
    position: absolute;
    top: 30%;
    opacity: .5;
}

#redirect-to-sign-in {
    margin-top: 15px;
}

#redirect-to-sign-in em {
    margin-right: 5px;
    color: gray;
}

#redirect-to-sign-in a {
    color: #000000;
    text-decoration: none;
}

#redirect-to-sign-in a:hover {
    text-decoration: underline;
}