@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

#home-page-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-inline: auto;
    width: 100vw;
    position: relative;
    background-color: tran;
}

#top-section {
    height: 70vh;
    width: 100%;
    z-index: 2;
}

#top-section > img {
    margin-top: 5vh;
    /* max-width: 500px;
    max-height: 40vh; */
    width: 180px;
    height: 180px;
    margin-top: 14vh;
    margin-inline: auto;
}

#top-section > h2 {
    margin-top: 5vh;
    color: black;
    font-size: 1em;
    letter-spacing: 8px;
    text-transform: uppercase;
}

#call-to-action-text {
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 2.1em;
    word-spacing: 4px;
    letter-spacing: 3px;
    line-height: 40px;
    position: relative;
    /* top: -40px; */
    top: 40px;
}

#call-to-action-smaller {
    max-width: 300px;
    font-size: .8em;
    margin-inline: auto;
    margin-top: 0px;
    position: relative;
    /* top: -40px; */
    top: 40px;
    color: rgb(99, 99, 99);
}

#bottom-section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
    height: 30vh;
    width: 100%;
    display: flex;
    
}

#bottom-section > a > button {
    padding: 16px 30px;
    border-radius: 40px;
    border-color: transparent;
    color: white;
    background-color: rgba(33, 28, 28, 0.962);
    min-width: 200px;
}