#upload-document-container {
    background-color: white;
    padding: 30px 30px;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sign-doc-head {
    margin-bottom: 5vh;
}

#sign-doc-head > h3 {
    word-break: break-all;
    margin-block: 0px;
}

#sign-doc-head > em {
    font-size: .7em;
    max-width: 300px;
}

#fileLabel {
    width: fit-content;
    display: inline-block;
    background-color: #6b6b6b;
    color: white;
    padding: 7px 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-size: .6em;
    transition: background-color 0.3s ease;
}

#fileLabel:hover {
    background-color:#8f8f8f;
}

#fileInput {
    display: none; /* this hides the actual input */
}

#upload-fileName {
    display: block;
    margin-top: 0px;
    font-size: .8em;
    width: fit-content;
    overflow-x:auto;
}

#upload-document-container > section {
    /* width: 100%; */
    /* max-width: 250px; */
    background-color: rgba(236, 235, 235, 0.877);
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    border-radius: 15px;
}

#upload-document-container > section > div {
    display: flex;
    align-items: center;
    gap: 10px;
}

#upload-document-container > section > button {
    /* width: 100px; */
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid rgb(249, 149, 35);
    color: rgb(249, 149, 35);
    background-color: white;
    font-size: .8em;
    padding: 5px;
    transition: background-color 0.3s ease;
}

#upload-document-container > section > button:hover {
    color: white;
    background-color: rgb(249, 149, 35);
}

#payloadDataDiv {
    color: black;
    width: 90%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#payloadDataDiv > p {
    word-wrap: break-word;
    width: 100%;
    font-size: .9em;
}

#payloadDataDiv > p > em {
    color:rgb(255, 128, 0);
    text-align: start;
}

#sign-msg {
    color: rgb(199, 35, 249);
    font-size: .8em;
    text-align: center;
    max-width: 160px;
}

#payloadDataDiv > a > img {
    height: 120px;
    width: 120px;
    margin-top: 30px;
}

#userPromptMessage {
    max-width: 300px;
    text-align: center;
    color: rgb(249, 142, 35);
    font-size: .8em
}

#upload-document-container-preview {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;  /* Align to the top */
    align-items: center;
    overflow-y: auto;  /* Allow scrolling if content overflows */
    max-height: 40vh;
 }
 

@media screen and (min-width: 620px) {
    #upload-document-container {
        max-width: 500px;
        margin-inline: auto;
    }
}