.loading-icon {
    vertical-align: middle;
    margin-right: 5px;
}

.loading-icon svg 
{
    display: inline;
}

.spinner {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
